footer ul {
    display: flex;
    padding-left: 0;
    list-style: none;
}

footer a {
    border-radius: 5px;
    padding: 0.5em;
    text-decoration: none;
}

footer a:hover {
    background-color: aliceblue;
}