/* ALL PAGES */

h1, h2, h3 {
    font-family: futura, sans-serif;
}



/* Header */

header {
    color: #7851A9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}

h1 {
    text-transform: uppercase;
}

header nav {
    display: flex;
    justify-content: right;
}

header ul{
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-right: 20px;
    list-style: none;
}

header a {
    color: #7851A9;
    text-decoration: none;
    margin: 0.5em;
}

.portfolio {
    background-image: url("/images/Imac_24.png");
}


footer ul {
    display: flex;
    padding-left: 0;
    list-style: none;
}

footer a {
    border-radius: 5px;
    padding: 0.5em;
    text-decoration: none;
}

footer a:hover {
    background-color: aliceblue;
}